*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    transition: .6s;
}
body{
    background-color: #fff;
}
h3:hover{
    cursor: pointer;
}
.wrapper{
    width: 100%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 17px;
}
.header__ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 17px;
}
.header__a {
    color: #2F281E;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: .6s;
}
.header__a:hover{
    color: #FF9900;
}
.header-links {
    display: flex;
    gap: 14.4px;
}
a{
    text-decoration: none;
}
.nav-btn{
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #fff;
    background-color: #FF9900;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    transition: .6s;
}
.nav-btn1{
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #173A56;
    background-color: #fff;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    transition: .6s;
}
.nav-btn1:hover{
    background-color: #f64b12;
    color: #fff;
}
.nav-btn1:active{
    background-color: darkgreen;
}
.nav-btn:hover{
    background-color: #f64b12;
    color: #173A56;
}
.nav-btn:active{
    background-color: darkgreen;
}

/* Intro-Section */

.wrapper-intro {
    width: 100%;
}
.intro-section {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.intro-section__left {
    display: flex;
    flex-direction: column;
    gap: 30px;

}
h1{
    padding-top: 113px;
    font-size: 44px;
    font-weight: 700;
    color: #2F281E;
    max-width: 460px;
    font-family: 'Poppins', sans-serif; 
}
.intro-section__p {
    max-width: 480px;
    padding-bottom: 45px;
    font-size: 18px;
    font-weight: 400;
    color: #544837;
    font-family: 'Poppins', sans-serif; 
}
.intro-section-block {
    display: flex;
    gap: 44px;
}
.intro-btn {
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #ff9900;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    transition: .6s;
}
.intro-btn:hover{
    background-color: #f64b12 ;
    color: #fff;
}
.intro-btn:active{
    background-color: darkgreen;
}
.intro-btn-cover{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}
.intro-btn2 {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif; 
    text-decoration: underline;
    color: #ff9900;    
    transition: .6s;
}
.triangle-right {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 0 9px 20px;
    border-color: transparent transparent transparent #ff9900;
}
.triangle-right:hover{
    border-color: transparent transparent transparent #f6b759e0;
}
.intro-btn2:hover{
    color: #f6b759e0;
}
.intro-btn2:active{
    background-color: darkgreen;
}

/* Tools Section */

.wrapper-tools_section {
    width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.tools-section {
    margin-top: 111px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 70px;
    position: relative;
}
.tools_section-h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: 700;
    max-width: 462px;
    color: #2F281E;
    text-align: center;
}
.transparent-cards {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    position: relative;
    margin-bottom: 40px;
}
.transparent-cards::after{
    content: url(../img/Bg.svg);
    position: absolute;
    top: 100px;
    bottom: 0;
}
.tools-card:hover{
    padding: 30px;
    translate: scale(1.25);
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25); 
}
.tools-h4 {
    font-family: 'Open Sans', sans-serif;
    color: #2F281E;
    font-size: 22px;
    font-weight: 700;
    padding-top: 30px;
}
.tools-p {
    font-family: 'Open Sans', sans-serif;
    max-width: 262px;
    color: #544837;
    font-weight: 400;
    font-size: 16px;
    padding-top: 16px;
}
.tools-link {
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #FF7549;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    transition: .6s;
    z-index: 1;
}
.tools-link:hover{
    background-color: #f64b12;
}
.tools-link:active{
    background-color: darkgreen;
}

/* Marketing Section */

.wrap-marketing-section {
    width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.marketing-strategies {
    margin-top: 120px;
}
.marketing-section__h2 {
    color: #2F281E;
    font-size: 34px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
.marketing-section__p {
    color: #544837;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 24px;
}
.marketing-ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
.small-link {
    color: #544837;
    border: 1px solid #d7d7d7;
    border-radius: 90px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 14px;
    padding-left: 14px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    transition: .6s;
}
.small-link:hover{
    background-color: #FF9900;
    color: #fff;
}
.small-link:active{
    background-color: darkgreen;
}
.marketing-cards{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 31px;
}
.first-cards {
    display: flex;
    justify-content: space-between;
    gap: 34px;
}
.positive-card {
    width: 377px;
    border-radius: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.positive-card:hover{
    -moz-transform: scale(1.25);
-webkit-transform: scale(1.25);
-o-transform: scale(1.25);
-ms-transform: scale(1.25);
transform: scale(1.25);
}
.positive-card:active{
    background-color: #ff990044;
}
.positive-h3 {
    min-width: 250px;
    padding-right: 34px;
    padding-top: 24px;
    padding-bottom: 30px;
    color: #2F281E;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
.positive-h3:hover{
    color: #ff9900;
    cursor: pointer;
}
.positive-card-items{
    padding-left: 33px;
    padding-bottom: 26px;
}
.positive-card .small-link {
    background-color: #F5F5F5;
}
.second-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.success-card {
    width: 790px;
    border-radius: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.success-card:hover{
    -moz-transform: scale(1.25);
-webkit-transform: scale(1.25);
-o-transform: scale(1.25);
-ms-transform: scale(1.25);
transform: scale(1.25);
}
.success-card:active{
    background-color: #ff99004a;
}
.success-card-items {
    padding-left: 30px;
    padding-top: 30px;
}
.success-h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #2F281E;
    padding-bottom: 24px;
}
.success-h3:hover{
    color: #ff9900;
}
.small-link {
    background-color: #F5F5F5;
}
.small-link:hover{
    background-color: #ff9900;
}
.small-link:active{
    background-color: green;
}
.intro-link {
    background-color: #FF9900;
    color: #fff;
}

/* About us */

.aboutus-wrapper {
    width: 100%;
}
.AboutUs {
    max-width: 1200px;
    margin: 0 auto;
}
.aboutus-h2 {
    padding-top: 96px;
    font-size: 34px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #2F281E;
    padding-bottom: 14px;
}
.aboutus-p {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 45px;
    font-family: 'Open Sans', sans-serif;
}
.developers-cards {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.developers {
    width: 345px;
    height: 141px;
    padding-top: 36px;
    padding-bottom: 35px;
    padding-right: 88px;
    padding-left: 34px;
    border-radius: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.developers-h {
    color: #544837;
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
}
.developers-p {
    font-family: 'Open Sans', sans-serif;
    color: #544837;
    font-weight: 400;
    font-size: 14px;
}
.mail-support{
    font-family: 'Open Sans', sans-serif;
}
.mail-support:hover{
    color: #FF9900;
    font-size: 19px;
}
.mail-support:active{
    color: #f64b12;
}
.avatar1{
    position: relative;
}
.avatar1::after{
    content: url('../img/Avator.svg');
    width: 98px;
    height: 98px;
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 260px;
    right: 0;
}
.avatar2{
    position: relative;
}
.avatar2::after{
    content: url('../img/Avator\ \(1\).svg');
    width: 98px;
    height: 98px;
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 260px;
    right: 0;
}
.avatar3{
    position: relative;
}
.avatar3::after{
    content: url('../img/Avator\ \(2\).svg');
    width: 98px;
    height: 98px;
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 260px;
    right: 0;
}
.contact-section-wrap {
    width: 100%;
    margin-top: 101px;
    background-color: #FFEEE1;
    padding-bottom: 90px;
}
.contact-section {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.contact-left {
    width: 50%;
    display: flex;
    flex-direction: column; 
    gap: 17px;
}
.contact-h2 {
    padding-top: 62px;
    font-weight: 700;
    font-size: 34px;
    font-family: 'Open Sans', sans-serif;
    color: #2F281E;
}
.contact-p {
    font-weight: 400;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #544837;
    padding-bottom: 16px;
    max-width: 470px;
}
.contact-tel {
    font-weight: 400;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 36px;
    color: #544837;
    position: relative;
}
.contact-tel:hover{
    color: #FF9900;
    font-size: 30px;
}
.contact-tel:active{
    color: green;
}
.contact-tel::before{
    content: url('../img/ico_phone.svg');
    position: absolute;
    top: 4px;
    bottom: 0;
    right: 10px;
    left:0 ;
}
.contact-mail{
    font-weight: 400;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 36px;
    color: #544837;
    position: relative;
}
.contact-mail:hover{
    color: #FF9900;
    font-size: 30px;
}
.contact-mail:active{
    color: green;
}
.contact-mail::before{
    content: url('../img/ico_mail.svg');
    position: absolute;
    top: 4px;
    bottom: 0;
    right: 10px;
    left:0 ;
}
.contact-right {
    width: 50%;
    padding-top: 124px;
}
.form-name {
    background: #FFFFFF;
    border-radius: 5px;
    color: #C6C6C6;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 130px;
    padding-left: 20px;
    border: 1px solid #fff;
}
.form-mail {
    background: #FFFFFF;
    border-radius: 5px;
    color: #C6C6C6;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 130px;
    padding-left: 20px;
    border: 1px solid #fff;
}
.form-area {
    padding-top: 10px;
    padding-left: 21px;
    border: 1px solid #fff;
    background: #FFFFFF;
    border-radius: 5px;
    color: #C6C6C6;
}
.sends{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18px;
}
.sends-twins{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.form-btn {
    text-align: center;
    width: 117px;
    height: 53px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: #ff9900;
    border: 2px solid #ff9900;
    padding-top: 15px;
    padding-bottom: 16px;
    border-radius: 4px;
}
.form-btn:hover{
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
}
.footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 72px;
}
.footer-blocks {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-h3 {
    font-size: 20px;
    font-weight: 700;
    color: #2F281E;
    font-family: 'Open Sans', sans-serif;
}
.footer-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #2F281E;
}
.footer-link:hover{
    color: #FF9900;
}
.footer-link:active{
    color: green;
}

